<nav class="bg-white shadow-lg dark:bg-neutral-600 dark:text-neutral-200">
    <div class="container w-full mx-auto flex items-center justify-between py-2 px-4">
      <ul class="flex grid grid-cols-4 items-center space-x-4">
  <li style="margin: 15px;" class="col-span-1 text-xl font-bold">
    <a href="/" class="text-neutral-600 hover:text-neutral-700">Home</a>
  </li>
  <li style="margin: 15px;" class="col-span-3">
    <a href="/show" class="text-neutral-600 hover:text-neutral-700">Apps</a>
  </li>
  <li style="margin: 15px;" class="col-span-1">
    <a href="/events" class="text-neutral-600 hover:text-neutral-700">Events</a>
  </li>
  <li style="margin: 15px;" class="col-span-1">
    <a href="/query" class="text-neutral-600 hover:text-neutral-700">Query</a>
  </li>
</ul>

    </div>
  </nav>